<div>
    <h4><%= link_to("<< Back to list", sections_path(page_id: @page.id), :class => 'back-link') %></h4>

    <h2>Delete Section</h2>
    <%= form_for(@section, url: section_path(@section, page_id: @page.id) , method: :delete) do |f| %>
        <p>Are you sure you want to permanently delete the Section named <b><%= f.object.name %></b>?</p>
        <div>
            <%= f.submit("Delete Section", style: "background-color: red; color: white;") %>
        </div>
    <% end %>
    
</div>