<div class="pages edit">
    <h4><%= link_to("<< Back to list", pages_path(subject_id: @subject.id), :class => 'back-link') %></h4>
    <h1>Update Page</h1>
    <%= form_for(@page, url: page_path(@page, subject_id: @subject.id)) do |f| %>
        
        <%= render partial: "form", locals: {fbuilder: f} %>
        
        <%= f.submit("Update Page") %>
        
    <% end %>
</div>