<div class="pages new">
    <h4> <%= link_to("<< Back to list", pages_path(subject_id: @subject.id), :class => 'back-link') %> </h4>

    <h1>Create page</h1>
    <%= form_for(@page, :url => pages_path(subject_id: @subject.id), :method => 'post') do |f| %>
        
        <%= render partial: "form", locals: {fbuilder: f} %>
        
        <%= f.submit("Create Page") %>
        
    <% end %>
</div>