$yellow: #F2DC87;

$sans_serif: Verdana, Lucida, Arial, Helvetica, sans-serif;

html {
    height: 100%;
    width: 100%;
}

body {
    font: 14px $sans_serif;
    // margin: 0 10% 0 40%;
    // text-align: center;
}

div {
    line-height: 30px;
    margin: auto;
    width: 50%;
    padding: 10px;
}
th,td {
    padding: 10px;
    text-align: center;
}

table, th,td {
    width: auto;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}
table {
    margin-bottom: 5px;
}
span.status{ 
    display: block; 
    width: 10px; 
    height: 10px;
    margin: .25em auto;
    padding: 0;
    border: 1px solid #000000;
}
span.status.true {
    background: green;
    color: green;
}
span.status.false { 
    background: red;
    color: red;
}

.header {
    background-color: $yellow;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(69, 134, 74);
    color: white;
    text-align: center;
}
.admin-menu {
    margin: auto;
    padding: 10px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
    width: 40%;
}