$yellow: #F2DC87;

$sans_serif: Verdana,Lucida, Arial, Helvetica, sans-serif;

html {
    height: 100%;
    width: 100%;
}

body {
    font: 14px $sans_serif;
}

th,td {
    width: 120px; 
    text-align: center;
}
table, th,td {
    border: 1px solid;
    border-collapse: collapse;
}

span.status{ 
    display: block; 
    width: 10px; 
    height: 10px;
    margin: .25em auto;
    padding: 0;
    border: 1px solid #000000;
}
span.status.true {
    background: green;
    color: green;
}
span.status.false {
    background: red;
    color: red;
}