<% @page_title = @page.name %>

<h2> <%= @page.name %></h2>

<% @page.sections.visible.sorted.each do |section| %>
    <div>
        <% case section.content_type %>
        <% when 'HTML' %>
            <%= raw(saznitize(section.content, tags: ['strong', 'em', 'a'])) %>
        <% when 'text' %>
            <%= simple_format(section.content) %>
        <% end %>
    </div>
<% end %>
