<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple CMS: <%= @page_title || "Admin Area" %> </title>
    <%= stylesheet_link_tag('admin', media: 'all') %>
</head>
<body>
    <div class="header">
        <h1>Simple CMS Admin</h1>
    </div>
    <% if !flash[:notice].blank? %>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <!-- before yield -->
    <%= yield %>
    <!--after yield -->
</body>
</html>